.page{
    background-color:  #1E1E1E;
    color: #E4E5EA;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    font-family: "Inter", "Montserrat", Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
}